In [31]:
import pandas as pd
import plotly_express as px

olympicdata = pd.read_csv("Data/athlete_events.csv")
olympicdata2 = pd.read_csv("Data/athlete_events.csv")

In [32]:
medal_holders = olympicdata[olympicdata.Medal !='None']
medal_holders['Count_Of_Medals'] = 1
medal_holders_fin = medal_holders[medal_holders["NOC"] == "FIN"]
medal_holders_fin.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Count_Of_Medals
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,1

In [33]:
highest_medals_fin = medal_holders_fin[['Name', 'Year', 'Team', 'Count_Of_Medals']].groupby(['Name','Year','Team']).sum().sort_values('Count_Of_Medals', ascending=False)

highest_medals_fin2 = highest_medals_fin.groupby(['Name','Team']).sum().sort_values('Count_Of_Medals', ascending=False).head(10)
highest_medals_fin2.reset_index(inplace=True)
highest_medals_fin2.head(2)

                       Name     Team  Count_Of_Medals
0  Heikki Ilmari Savolainen  Finland               39
1        Raimo Yrj Heinonen  Finland               24

In [34]:
# from matplotlib import pyplot as plt
# import numpy as np
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# ax.axis('equal')
# Team = highest_medals_fin2.Name
# Count_of_Medal = highest_medals_fin2.Count_Of_Medals
# ax.pie(Count_of_Medal, labels = Team,autopct='%1.2f%%')
# plt.show()

fig = px.pie(highest_medals_fin2, values='Count_Of_Medals', names='Name', title='Highest Medal Winners Finland')
fig.show()

In [49]:
# Try to count only 1 medal per team and event.
# To avoid over counting medals.

# merge year and event column
olympicdata["year event"] = olympicdata["Games"].astype(str) + olympicdata["Event"].astype(str)

#drop all NaN in medals
olympicdata = olympicdata[olympicdata['Medal'].notnull()]

# Separate medals, Drop duplicates in year and game event. So it only counts 1 medal for every sporting event.
gold_medals = olympicdata[olympicdata['Medal'] == 'Gold'].drop_duplicates(subset=['year event'], keep='first')
silver_medals = olympicdata[olympicdata['Medal'] == 'Silver'].drop_duplicates(subset=['year event'], keep='first')
bronze_medals = olympicdata[olympicdata['Medal'] == 'Bronze'].drop_duplicates(subset=['year event'], keep='first')


gold = gold_medals.groupby('NOC').count().sort_values("Medal", ascending=False)
silver = silver_medals.groupby('NOC').count().sort_values("Medal", ascending=False)
bronze = bronze_medals.groupby('NOC').count().sort_values("Medal", ascending=False)

In [50]:
gold.head(1) # Gold har 7 för mkt... skall vara 1117

,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal,year event
NOC,,,,,,,,,,,,,,,
USA,1124,1124,1124,1120,932,900,1124,1124,1124,1124,1124,1124,1124,1124,1124

In [51]:
silver.head(1) # stämmer

,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal,year event
NOC,,,,,,,,,,,,,,,
USA,894,894,894,882,711,695,894,894,894,894,894,894,894,894,894

In [52]:
bronze.head(1) # korrekt är 787. Saknar 26 bronze

,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal,year event
NOC,,,,,,,,,,,,,,,
USA,761,761,761,757,593,566,761,761,761,761,761,761,761,761,761

In [58]:
# Total bör vara 2798. Saknar 19
total_medals = gold + silver + bronze
total_medals.sort_values("Medal", ascending=False).head(1)

,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal,year event
NOC,,,,,,,,,,,,,,,
USA,2779.0,2779.0,2779.0,2759.0,2236.0,2161.0,2779.0,2779.0,2779.0,2779.0,2779.0,2779.0,2779.0,2779.0,2779.0