In [1]:
import pandas as pd
from Load_data import Load_data

olympic_data = Load_data.load()
olympic_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### a)

In [2]:
countries = olympic_data['NOC'].unique()
number_of_countries = len(countries)
print(f"There are {number_of_countries} countries in the dataset")

There are 230 countries in the dataset

### b)

In [3]:
# Because a series looks fancier
print(pd.Series(countries))

0      CHN
1      DEN
2      NED
3      USA
4      FIN
      ...
225    TUV
226    NFL
227    KOS
228    SSD
229    LES
Length: 230, dtype: object

### c)

In [4]:
num_of_sports = len(olympic_data["Sport"].value_counts())
print(f"There are {num_of_sports} different sports in the dataset")

There are 66 different sports in the dataset

### d)

In [5]:
type_of_medals = olympic_data['Medal'].dropna().unique()
print(pd.Series(type_of_medals))

0      Gold
1    Bronze
2    Silver
dtype: object

### e)

In [6]:
olympic_data["Age"].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

### f, g, h, i)

In [ ]:
# Questions


# graphs